body {
  font-family: "Poppins", serif;
  overflow-y: hidden;
}
input {
  font-family: "Poppins", serif !important;
  line-height: normal;
  outline: none;
}
input::placeholder {
  font-family: "Poppins", serif !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]:focus {
  border: 1px solid hsl(259, 100%, 65%) !important;
}
input[type="number"]:hover {
}
